In [1]:
import pandas as pd
df=pd.read_csv('train.csv') #uploading dataset file

df.head() #checking top 10 details

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
df.describe() #to get description of data

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,500.000000,500.000000,482.000000,486.000000,459.000000
mean,5493.644000,1506.307840,144.020747,342.543210,0.843137
std,6515.668972,2134.432188,82.344919,63.834977,0.364068
min,150.000000,0.000000,17.000000,12.000000,0.000000
25%,2874.500000,0.000000,100.000000,360.000000,1.000000
50%,3854.000000,1125.500000,126.500000,360.000000,1.000000
75%,5764.000000,2253.250000,161.500000,360.000000,1.000000
max,81000.000000,20000.000000,700.000000,480.000000,1.000000

In [3]:
X=df.drop(['Loan_Status','Loan_ID'], axis=1) #droping column because they arenot used for predictio
y=df['Loan_Status'] #output column must be kept in separate variable

In [4]:
X.isnull().sum() #to check for null values (machine learning algorithm can't work on null values)

Gender                9
Married               3
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [5]:
X.info() #another method to datatype and null values of variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             491 non-null    object
 1   Married            497 non-null    object
 2   Dependents         488 non-null    object
 3   Education          500 non-null    object
 4   Self_Employed      473 non-null    object
 5   ApplicantIncome    500 non-null    int64
 6   CoapplicantIncome  500 non-null    float64
 7   LoanAmount         482 non-null    float64
 8   Loan_Amount_Term   486 non-null    float64
 9   Credit_History     459 non-null    float64
 10  Property_Area      500 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 43.1+ KB

In [6]:
X['Gender'].value_counts() #categorical values can be filled with mode(highest number of occurance)

Male      400
Female     91
Name: Gender, dtype: int64

In [7]:
X['Gender'].fillna("Male", inplace=True) #highest number is male therefore filling values with those, inplace means changing data in same table

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             500 non-null    object
 1   Married            497 non-null    object
 2   Dependents         488 non-null    object
 3   Education          500 non-null    object
 4   Self_Employed      473 non-null    object
 5   ApplicantIncome    500 non-null    int64
 6   CoapplicantIncome  500 non-null    float64
 7   LoanAmount         482 non-null    float64
 8   Loan_Amount_Term   486 non-null    float64
 9   Credit_History     459 non-null    float64
 10  Property_Area      500 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 43.1+ KB

In [9]:
X['Married'].value_counts()

Yes    322
No     175
Name: Married, dtype: int64

In [10]:
X['Married'].fillna("Yes", inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [11]:
X['Dependents'].value_counts()

0     288
1      81
2      79
3+     40
Name: Dependents, dtype: int64

In [12]:
X['Dependents'].fillna(0,inplace=True)

In [13]:
X['Self_Employed'].value_counts()

No     407
Yes     66
Name: Self_Employed, dtype: int64

In [14]:
X['Self_Employed'].fillna('No',inplace=True)

In [15]:
mean_loan=X['LoanAmount'].mean()
X['LoanAmount'].fillna(mean_loan,inplace=True)
X.isnull().sum() #to fill numerical values mean or average is used

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [16]:
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean(),inplace=True)
X['Credit_History'].fillna(X['Credit_History'].mean(),inplace=True)
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [17]:
X=pd.get_dummies(X) #most important part,  to convert categorical values into numerical
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,144.020747,360.0,1.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,0,1,0,...,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,0,1,0,1,0,...,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1

In [18]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30)  #fitting dataset in test and train, it return 4 tables
                                                                 #x_test,x_train,y_test,y_train (Here X and y is provided)

In [19]:
y_train.shape

(350,)

ModuleNotFoundError: No module named 'mymodule'

In [22]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

lr.fit(X_train,y_train)

C:\Users\ANUPAM\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
from sklearn.svm import SVC
svc = SVC()

svc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [24]:
from sklearn.tree import DecisionTreeClassifier
dtf = DecisionTreeClassifier()
dtf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
from sklearn.naive_bayes import GaussianNB
n_b = GaussianNB()
n_b.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()  
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [27]:
print(lr.score(X_train, y_train),"   ", lr.score(X_test, y_test))
print(dtf.score(X_test, y_test))
print(n_b.score(X_test, y_test))
print(knn.score(X_test, y_test))  #to prdict score of different algorithms
print(svc.score(X_test, y_test))

0.8028571428571428     0.7933333333333333
0.74
0.7733333333333333
0.6533333333333333
0.66

In [28]:
gender=input("What is your gender (Male or Female):")   #applying model on new data
married=input("Married (Enter Yes or No):")
dependents=int(input("dependents value (Enter 0 or 1 or 2 or 3+):"))
Education=input("enter your education (Enter Graduate or Not Graduate)")
SelfEmployed=input("Self Employed (Enter Yes or No):")
Applicantincome=int(input("enter applicant income (Enter between 150 to 81000)"))
coapplicantincome=int(input("enter co applicant income(Enter ):"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")

data = [[gender,married,dependents,Education,SelfEmployed,Applicantincome,coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

What is your gender (Male or Female):Male
Married (Enter Yes or No):Yes
dependents value (Enter 0 or 1 or 2 or 3+):2
enter your education (Enter Graduate or Not Graduate)Graduate
Self Employed (Enter Yes or No):Yes
enter applicant income (Enter between 150 to 81000)50000
enter co applicant income(Enter ):1000
enter loan amount:20000
enter loan amount term:24
enter credit history:1
enter property area:Urban

In [29]:
newdf = pd.DataFrame(data, columns = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])
#convert new data into desired model input

In [30]:
newdf = pd.get_dummies(newdf) #again to convert categorical into numerical

In [31]:
missing_cols = set( X_train.columns ) - set( newdf.columns ) #sorting new input according to previous

In [32]:
for c in missing_cols:
    newdf[c] = 0

In [33]:
newdf = newdf[X_train.columns]

In [34]:
yp=n_b.predict(X_test[0:5])   #apply the model
print(yp)

['Y' 'N' 'Y' 'Y' 'Y']

In [35]:
if (yp[0]=='Y'):
    print("Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing")
else:
    print("Sorry ! Your Loan is not approved")

Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing

In [36]:
yp1=n_b.predict(newdf)
yp2=lr.predict(newdf)
yp3=dtf.predict(newdf)
yp4=knn.predict(newdf)
yp5=svc.predict(newdf)
print(yp1)

print(yp2)
print(yp3)
print(yp4)
print(yp5)

['N']
['N']
['Y']
['Y']
['Y']

In [37]:
from sklearn.metrics import confusion_matrix 
y_predict=lr.predict(X_test)
results = confusion_matrix(y_test, y_predict) 
print('Confusion Matrix :')
print(results)
for i in range(5):
    print(y_predict[i],y_test.iloc[i])

Confusion Matrix :
[[21 28]
 [ 3 98]]
Y Y
N N
Y N
Y Y
Y Y

In [38]:
for i in range(5):
    print(y_predict[i],"     ", y_test.iloc[i])

Y       Y
N       N
Y       N
Y       Y
Y       Y

In [39]:
print(lr.predict_proba(X_test[0:5]))

[[0.14072486 0.85927514]
 [0.7661793  0.2338207 ]
 [0.26345542 0.73654458]
 [0.06153382 0.93846618]
 [0.40596875 0.59403125]]

In [40]:
# save the model to disk
import pickle
filename = 'anupam.sav'
tuples=(lr,X)
pickle.dump(tuples, open(filename, 'wb'))